.link-icon {
  margin-bottom: 0.25rem;
  transition: color $transition-duration ease;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

}