.section {
  &__background-image {
    background-size: cover;
    background-repeat: no-repeat;
    @include gradient
  }

  &__inner {
    max-width: $section-inner-max-width;
    padding-left: 1.5rem;
    padding-right: 3rem;

    &--fluid {
      max-width: 100%;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0;
    }

    main & {
      padding-top: 10rem;
      padding-bottom: 3rem;

      @include media-breakpoint-up(sm) {
        padding-top: 13rem;
      }
    }
  }
}


.slide {
  background-repeat: no-repeat;
  background-size: cover;

  &--background-image {
    @include gradient
  }
}